.Player_div{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


@media (max-width: 1028px){
    .Player_div{
      width:100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
 
  
.Player_div input{
    margin-top: 20px;
    font-size: 1.4rem;
    border-radius:10px;
    border:2px solid rgb(80, 80, 235);
    color:rgb(58, 58, 247);
}

.Player_div button{
    font-size: 1.2rem;
    margin-top:5px;
    border-radius: 10px;
    border:2px solid white;
    background-color: rgb(105, 105, 247);
    color:white;
    padding:5px;
    cursor: pointer;
}