.div_one{
  width:40%;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
  margin-top: -10px;
  border-radius: 10px;
  padding:5px;
}

.div_one h1{
  color: white;
}

@media (max-width: 1028px){

  .div_one{
    width:100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.div_one button{
  margin-top: 10px;
  font-size: 1.5rem;
  border-radius: 20px;
  padding:10px;
  border:2px solid white;
  color:white;
  background-color: rgb(41, 41, 241);
  cursor: pointer;
}

.App{
  text-align: center;
}

.App h1{
  font-size: 3rem;
  text-decoration: underline;
  color:white;
  margin-top: -2px;
}

.App .Router-button{
  font-size: 1.2rem;
  border-radius: 10px;
  padding:10px;
  width: 250px;
  background-color: rgb(81, 81, 240);
  border:2px solid white;
  color:white;
  margin-bottom: 10px;
  cursor: pointer;
}
