.details_one{
    background-color: rgba(89, 89, 245,0.7);
    padding:5px;
    margin:10px;
    border-radius: 10px;
    color: white;
    border:1px solid black;
    box-shadow: 4px 4px 2px rgb(173, 170, 170);
}

.details_two{
    background-color: rgba(235, 62, 62, 0.7);
    padding:5px;
    margin:10px;
    border-radius: 10px;
    color: white;
    border:1px solid black;
    box-shadow: 4px 4px 2px rgb(173, 170, 170);
}

.Vs{
    font-size: 1rem;
}

h2{
    color:rgb(164, 250, 4);
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-weight: bolder;
}
